<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>AdminCreateServlet</servlet-name>
        <servlet-class>ru.kpfu.itis.aekrylov.itproject.servlets.admin.AdminСreateServlet</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>AdminCreateServlet</servlet-name>
        <url-pattern>/admin/create</url-pattern>
    </servlet-mapping>

</web-app>