<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>RegistrationAjaxServlet</servlet-name>
        <servlet-class>ru.kpfu.itis.aekrylov.itproject.servlets.RegistrationAjaxServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileServlet</servlet-name>
        <servlet-class>ru.kpfu.itis.aekrylov.itproject.servlets.ProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChatListServlet</servlet-name>
        <servlet-class>ru.kpfu.itis.aekrylov.itproject.servlets.ChatListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChatServlet</servlet-name>
        <servlet-class>ru.kpfu.itis.aekrylov.itproject.servlets.ChatServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ItemServlet</servlet-name>
        <servlet-class>ru.kpfu.itis.aekrylov.itproject.servlets.ItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ItemAddServlet</servlet-name>
        <servlet-class>ru.kpfu.itis.aekrylov.itproject.servlets.ItemAddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ItemListServlet</servlet-name>
        <servlet-class>ru.kpfu.itis.aekrylov.itproject.servlets.ItemListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HistoryServlet</servlet-name>
        <servlet-class>ru.kpfu.itis.aekrylov.itproject.servlets.HistoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SettingsServlet</servlet-name>
        <servlet-class>ru.kpfu.itis.aekrylov.itproject.servlets.SettingsServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>ru.kpfu.itis.aekrylov.itproject.servlets.admin.AdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminCreateServlet</servlet-name>
        <servlet-class>ru.kpfu.itis.aekrylov.itproject.servlets.admin.AdminСreateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminEditServlet</servlet-name>
        <servlet-class>ru.kpfu.itis.aekrylov.itproject.servlets.admin.AdminEditServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDeleteServlet</servlet-name>
        <servlet-class>ru.kpfu.itis.aekrylov.itproject.servlets.admin.AdminDeleteServlet</servlet-class>
    </servlet>

<!--
    <servlet>
        <servlet-name>default</servlet-name>
        <servlet-class>
            org.apache.catalina.servlets.DefaultServlet
        </servlet-class>
        <init-param>
            <param-name>listings</param-name>
            <param-value>false</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
-->

    <servlet-mapping>
        <servlet-name>RegistrationAjaxServlet</servlet-name>
        <url-pattern>/ajax/check_username</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChatListServlet</servlet-name>
        <url-pattern>/user/chats</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChatServlet</servlet-name>
        <url-pattern>/user/chat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SettingsServlet</servlet-name>
        <url-pattern>/user/settings</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileServlet</servlet-name>
        <url-pattern>/user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ItemServlet</servlet-name>
        <url-pattern>/item</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ItemAddServlet</servlet-name>
        <url-pattern>/item/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ItemListServlet</servlet-name>
        <url-pattern>/items</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HistoryServlet</servlet-name>
        <url-pattern>/user/history</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/admin/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminCreateServlet</servlet-name>
        <url-pattern>/admin/create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminEditServlet</servlet-name>
        <url-pattern>/admin/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDeleteServlet</servlet-name>
        <url-pattern>/admin/delete</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/static/*</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>CookieFilter</filter-name>
        <filter-class>ru.kpfu.itis.aekrylov.itproject.filters.CookieFilter</filter-class>
    </filter>
    <filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>ru.kpfu.itis.aekrylov.itproject.filters.AuthFilter</filter-class>
    </filter>
    <filter>
        <filter-name>AdminFilter</filter-name>
        <filter-class>ru.kpfu.itis.aekrylov.itproject.filters.AdminFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>CookieFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <servlet-name>ItemAddServlet</servlet-name>

        <url-pattern>/user/*</url-pattern>
        <url-pattern>/admin/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/admin/*</url-pattern>
    </filter-mapping>
</web-app>