  
    <div class="container-fluid">
            
         <div class="row">  
             <div class="col-md-6">
                <h3>Товары</h3>
             </div>
         </div> 
                 
         <hr/>
                 
         <div class="row">  
            <div class="col-md-4">
                           
                <a href="" class="btn btn-default btn-block"><span class="glyphicon glyphicon-plus"> Добавить товар</span></a>

                <form class="form-horizontal" style="margin-top: 20px">
                    <div class="row">  
                        <div class="col-md-9">
                            <input type="text" class="form-control" placeholder="поиск...">                 
                        </div>
                        <div class="col-md-3">
                            <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
                        </div>
                    </div>
                </form>
            </div>       
            <div class="col-md-4">
                <p>Отсортировать по:</p>
                <form class="form-horizontal">
                    <div class="row">  
                        <div class="col-md-9">
                            <select class="form-control">
                                <option>Названию</option>
                                <option>Продавцу</option>
                                <option>Типу</option>
                                <option>Стоимости</option>
                                <option>Бренду</option>
                                <option>Модели</option>
                                <option>Процессору</option>
                                <option>Ядрам</option>
                                <option>Размеру ОЗУ</option>
                                <option>Видекарте</option>
                                <option>Жесткому диску</option>
                                <option>Рзамеру ЖД</option>
                            </select>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox"> Обратный порядок
                              </label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-ok"></span></button>
                        </div>
                    </div> 
                </form>             
            </div> 
            <div class="col-md-4">
                <ul class="pager" style="float: right">
                    <li><a href="#">&larr; Назад</a></li>
                    <li><a href="#">Вперед &rarr;</a></li>
                </ul>
            </div>
         </div>
     </div>
     
    <div class="container-fluid" style="margin-top: 20px">             
        <div class="well bs-component">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>ID</th>
                <th>Название</th>
                <th>Продавец</th>
                <th>Тип</th>
                <th>Стоимость</th>
                <th>Бренд</th>
                <th>Модель</th>
                <th>Процессор</th>
                <th>Ядра</th>
                <th>ОЗУ</th>
                <th>Видеокарта</th>
                <th>ЖД</th>
                <th>Объем ЖД</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Ноутбук ASUS s301l</td>
                <td>Крылов Антон</td>
                <td>ноутбук</td> 
                <td>15000</td> 
                <td>ASUS</td> 
                <td>s301l</td>
                <td>Intel Core i5</td>
                <td>4</td> 
                <td>8 Гб</td> 
                <td>intel HD Graphics 4400</td> 
                <td></td> 
                <td> 6000 Гб</td> 
                <td><a href="" ><span class="glyphicon glyphicon-pencil"></span></a><td>
                <td><a href=""><span class="glyphicon glyphicon-remove"></span></a></td>  
              </tr>
              <tr>
                <td>1</td>
                <td>Ноутбук ASUS s301l</td>
                <td>Крылов Антон</td>
                <td>ноутбук</td> 
                <td>15000</td> 
                <td>ASUS</td> 
                <td>s301l</td>
                <td>Intel Core i5</td>
                <td>4</td> 
                <td>8 Гб</td> 
                <td>intel HD Graphics 4400</td> 
                <td></td> 
                <td> 6000 Гб</td> 
                <td><a href="" ><span class="glyphicon glyphicon-pencil"></span></a><td>
                <td><a href=""><span class="glyphicon glyphicon-remove"></span></a></td>  
              </tr>
              <tr>
                <td>1</td>
                <td>Ноутбук ASUS s301l</td>
                <td>Крылов Антон</td>
                <td>ноутбук</td> 
                <td>15000</td> 
                <td>ASUS</td> 
                <td>s301l</td>
                <td>Intel Core i5</td>
                <td>4</td> 
                <td>8 Гб</td> 
                <td>intel HD Graphics 4400</td> 
                <td></td> 
                <td> 6000 Гб</td> 
                <td><a href="" ><span class="glyphicon glyphicon-pencil"></span></a><td>
                <td><a href=""><span class="glyphicon glyphicon-remove"></span></a></td>  
              </tr>
             
            </tbody>
          </table> 
        </div>
    </div>  
            