
    <div class="container">
        <div class="row">
        
               
            <div class="col-md-8 col-md-offset-2">
                <h3>Администрирование сайта</h3>
            
                <div class="well bs-component">

                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <td><b><a href="dialog.html">Пользователи</a></b></td>
                                <td><a href=""><span class="glyphicon glyphicon-plus"> </span> Добавить </a></td>
                                <td><a href=""><span class="glyphicon glyphicon-pencil"> </span> Изменить </a></td>   
                            </tr>
                            <tr>
                                <td><b><a href="dialog.html">Товары</a></b></td>
                                <td><a href=""><span class="glyphicon glyphicon-plus"> </span> Добавить </a></td>
                                <td><a href=""><span class="glyphicon glyphicon-pencil"> </span> Изменить </a></td>   
                            </tr>
                            <tr>
                                <td><b><a href="dialog.html">Продажи</a></b></td>
                                <td><a href=""><span class="glyphicon glyphicon-plus"> </span> Добавить </a></td>
                                <td><a href=""><span class="glyphicon glyphicon-pencil"> </span> Изменить </a></td>   
                            </tr>
                            <tr>
                                <td><b><a href="dialog.html">Избранные товары</a></b></td>
                                <td><a href=""><span class="glyphicon glyphicon-plus"> </span> Добавить </a></td>
                                <td><a href=""><span class="glyphicon glyphicon-pencil"> </span> Изменить </a></td>   
                            </tr>
                            <tr>
                                <td><b><a href="dialog.html">Отзывы</a></b></td>
                                <td><a href=""><span class="glyphicon glyphicon-plus"> </span> Добавить </a></td>
                                <td><a href=""><span class="glyphicon glyphicon-pencil"> </span> Изменить </a></td>   
                            </tr>
                            <tr>
                                <td><b><a href="dialog.html">Сообщения</a></b></td>
                                <td><a href=""><span class="glyphicon glyphicon-plus"> </span> Добавить </a></td>
                                <td><a href=""><span class="glyphicon glyphicon-pencil"> </span> Изменить </a></td>   
                            </tr>
                        </tbody>
                    </table> 

                </div>

            </div>                  
                      
        </div>
    </div>