hr {
     color: #DCDCDC;
     background-color: #DCDCDC;
     height: 0.5px;
}

img  {
    border: 1px solid #696969;
    margin-bottom: 15px;
    margin-top:  15px;
}
a {
    color: black;
}
.badge {
    background-color: #696969;
    color: #ffffff;
}
.btn-primary{
    background-color: #696969;
    color: #ffffff;
    background-image: none;
    border: none;
}
.pager{
    float:right;
}
.panel-default .panel-heading{
    background-color: #696969;
    color: #ffffff;
}

.msg-received p {
    text-align: left;
}
.msg-sent p {
    text-align: right;
}
.msg-received button {
    float: right !important;
}
.msg-sent button {
    float: left !important;
}