      <div class="container">
        <div class="row">  
           <div class="col-md-8 col-md-offset-2">

                <div class="row"> 
                    <div class="col-md-12">
                        <ul class="pager">
                            <li><a href="#">&larr; Предыдущие</a></li>
                            <li><a href="#">Следующие &rarr;</a></li>
                        </ul>  
                    </div>               
                </div>


                <div class="well bs-component">
                    
                    <div class="row">
                    
                        <div class="col-md-3">
                            <a href="profile.html"><img src="profile_photo\1.jpg" width="100%" style="margin-top:0px;"/></a>
                        </div>
                        
                        
                        <div class="col-md-9">
                        
                            <h4><a href="profile.html">Антон Крылов</a></h4>
                            <hr/>
                            <p><b>Товаров: </b> 2</p>
                            <p><b>Рейтинг: </b>4.7 от 3 пользователей </p>
          
                            <div class="row">
                            <div class="col-md-12">
                           
                                <div id="rateYo1"></div>
                            
                                <script type="text/javascript">$(function () {
                                    $("#rateYo1").rateYo({ 
                                        rating: '4.7', 
                                        readOnly: true
                                        });
                                    }); 
                                 </script>
                            </div>
                            </div>        
                        
                        </div>             
                    </div>                    
                </div>
                
                 <div class="well bs-component">
                    
                    <div class="row">
                    
                        <div class="col-md-3">
                            <a href="profile.html"><img src="profile_photo\1.jpg" width="100%" style="margin-top:0px;"/></a>
                        </div>
                        
                        
                        <div class="col-md-9">
                        
                            <h4><a href="profile.html">Антон Крылов</a></h4>
                            <hr/>
                            <p><b>Товаров: </b> 2</p>
                            <p><b>Рейтинг: </b>4.7 от 3 пользователей </p>
          
                            <div class="row">
                            <div class="col-md-12">
                           
                                <div id="rateYo2"></div>
                            
                                <script type="text/javascript">$(function () {
                                    $("#rateYo2").rateYo({ 
                                        rating: '4.7', 
                                        readOnly: true
                                        });
                                    }); 
                                 </script>
                            </div>
                            </div>        
                        
                        </div>             
                    </div>                    
                </div>
                
                 <div class="well bs-component">
                    
                    <div class="row">
                    
                        <div class="col-md-3">
                            <a href="profile.html"><img src="profile_photo\1.jpg" width="100%" style="margin-top:0px;"/></a>
                        </div>
                        
                        
                        <div class="col-md-9">
                        
                            <h4><a href="profile.html">Антон Крылов</a></h4>
                            <hr/>
                            <p><b>Товаров: </b> 2</p>
                            <p><b>Рейтинг: </b>4.7 от 3 пользователей </p>
          
                            <div class="row">
                            <div class="col-md-12">
                           
                                <div id="rateYo3"></div>
                            
                                <script type="text/javascript">$(function () {
                                    $("#rateYo3").rateYo({ 
                                        rating: '4.7', 
                                        readOnly: true
                                        });
                                    }); 
                                 </script>
                            </div>
                            </div>        
                        
                        </div>             
                    </div>                    
                </div>
                               
           
           </div> 
           
        </div>
    </div>