    <div class="container">
    <div class="row">       
            <div class="col-md-4">
                <h3> Название компании</h3>
                <p>Уинстон ощутил пустоту в груди. Это — двоемыслие. Им овладело чувство смертельной беспомощности. Если бы он был уверен, что О’Брайен солгал, это не казалось бы таким важным. Но очень может быть, что О’Брайен в самом деле забыл фотографию. А если так, то он уже забыл и то, как отрицал, что ее помнит, и что это забыл — тоже забыл. Можно ли быть уверенным, что это просто фокусы? А вдруг такой безумный вывих в мозгах на самом деле происходит? — вот что приводило Уинстона в отчаяние.</p>        
            </div>
            
            <div class="col-md-8">
                <div class="fotorama">
                    <img src="about_photo\1.jpg">
                </div>
            </div>
    </div>
    </div> 
