    <div class="container">
        <div class="row">
        
            <div class="col-md-8 col-md-offset-2">

                <div class="row">
                    <div class="col-md-6">
                        <h3> Диалоги: </h3>
                    </div>
                    
                    <div class="col-md-6">
                        <ul class="pager">
                            <li><a href="#">&larr; Предыдущие</a></li>
                            <li><a href="#">Следующие &rarr;</a></li>
                        </ul>  
                    </div>               
                </div>

                <div class="row">
                    <div class="col-md-12">
                
                      <div class="well bs-component" style="margin: 0px;">
                        <div class="row">
                          <div class="col-md-11">
                              <a href="dialog.html"><h4 class="list-group-item-heading">Дамир Маликов</a> <span class="badge">2</span></h4>
                              <p class="text-muted">Последнее собщение: 27 октября 2016 21:46</p>
                          </div> 
                          <div class="col-md-1">
                              <button type="button" class="close">&times;</button>
                          </div>  
                        </div>
                      </div>
                      <div class="well bs-component" style="margin: 0px;">                       
                        <div class="row">
                          <div class="col-md-11">
                              <a href="dialog.html"><h4 class="list-group-item-heading">Дамир Маликов</a> <span class="badge">2</span></h4>
                              <p class="text-muted">Последнее собщение: 27 октября 2016 21:46</p>
                          </div> 
                          <div class="col-md-1">
                              <button type="button" class="close">&times;</button>
                          </div>  
                        </div>
                       </div>
                       <div class="well bs-component" style="margin: 0px;">   
                        <div class="row">
                          <div class="col-md-11">
                              <a href="dialog.html"><h4 class="list-group-item-heading">Дамир Маликов</a> <span class="badge">2</span></h4>
                              <p class="text-muted">Последнее собщение: 27 октября 2016 21:46</p>
                          </div> 
                          <div class="col-md-1">
                              <button type="button" class="close">&times;</button>
                          </div>  
                        </div>
                      </div>
                     
                    </div>
                </div>
                      
            </div>
            
        </div>
    </div>