

    <div class="container">
        <div class="well bs-component">
        <div class="row">
        
        
            <div class="col-md-7">
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="inputName" class="col-md-4 control-label">Наименование</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" id="inputName" placeholder="Введите наименование товара">
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="inputCost" class="col-md-4 control-label">Стоимость</label>
                    <div class="col-md-3">
                        <input type="text" class="form-control" id="inputCost">
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="inputCost" class="col-md-4 control-label">Бренд</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" id="inputCost" placeholder="Введите бренд">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputCost" class="col-md-4 control-label">Модель</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" id="inputCost" placeholder="Введите модель">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputCost" class="col-md-4 control-label">Процессор</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" id="inputCost" placeholder="Введите модель процессора">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputCost" class="col-md-4 control-label">Число ядер</label>
                    <div class="col-md-2">
                        <select class="form-control" id="inputCost">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>6</option>
                            <option>12</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputCost" class="col-md-4 control-label">Размер ОЗУ</label>
                    <div class="col-md-2">
                        <input type="text" class="form-control" id="inputCost">
                    </div>
                    <div class="col-md-2">
                        <h5>Гб</h5>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputCost" class="col-md-4 control-label">Видеокарта</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" id="inputCost" placeholder="Введите модель видеокарты">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputCost" class="col-md-4 control-label">Жесткий диск</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" id="inputCost" placeholder="Введите тип жесткого диска">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputCost" class="col-md-4 control-label">Объем жесткого диска</label>
                    <div class="col-md-3">
                        <input type="text" class="form-control" id="inputCost">
                    </div>
                    <div class="col-md-2">
                        <h5>Гб</h5>
                    </div>
                </div>
   
                 
            </form>
            </div>

            
            <div class="col-md-4 col-md-offset-1">        
            
                <div class="form-group">
                    <h4>Выберите тип:</h4>
                    <div class="radio">
                        <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                        Настольный компьютер 
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                        Ноутбук
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                        Моноблок
                        </label>
                    </div>
                </div>
                
                <a href="#" class="btn btn-default">Добавить фотографии</a>
            
            </div>
            
         </div>
         
         
         <div class="row">
            <div class="col-md-12">
                 <hr/>
                <div class="form-group">
                    <div class="col-md-4">            
                        <button type="submit" class="btn btn-default btn-block">Добавить товар</button>
                    </div>
               </div>             
            </div>   
        </div>
        
        
        </div>
    </div>
