    <div class="container">
        <div class="row">  
            <div class="col-md-3">

                <form class="form-horizontal">
            
                    <div class="form-group">
                        <h5>Тип:</h5>
                        <div class="checkbox">
                        <label>
                              <input type="checkbox" value="">
                              Ноутбуки
                              </label>
                        </div>
                        <div class="checkbox">
                        <label>
                              <input type="checkbox" value="">
                              Настольные компьютеры
                              </label>
                        </div>
                        <div class="checkbox">
                        <label>
                              <input type="checkbox" value="">
                              Моноблоки
                              </label>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-10">

                            <div class="form-group">
                                <h5>Стоимость:</h5>
                                <label for="inputFrom" class="col-md-4 control-label">от:</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control input-sm" id="inputFrom">
                                </div>

                                <label for="inputTo" class="col-md-4 control-label">до:</label>
                                <div class="col-md-8">
                                    <input type="password" class="form-control input-sm" id="inputTo">
                                 </div>
                           </div>
                 
                       </div>
                 </div>
                 
                <div class="row">
                    <div class="col-md-10">            
               
                      <div class="form-group">
                         <h5>Бренд:</h5>

                         <select class="form-control input-sm">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>  
                         </select>                     
                         <h5>Модель:</h5> 
                         <select class="form-control input-sm">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                         </select> 
                         <h5>Процессор:</h5> 
                          <select class="form-control input-sm">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                         </select> 
                         <h5>Число ядер:</h5> 
                         <select class="form-control input-sm">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                         </select>
                         <h5>Размер ОЗУ:</h5> 
                         <select class="form-control input-sm">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                         </select>
                         <h5>Видеокарта:</h5> 
                         <select class="form-control input-sm">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                         </select>
                         <h5>Жесткий диск:</h5> 
                         <select class="form-control input-sm">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                         </select>
                         <h5>Объем жесткого диска:</h5>
                         <select class="form-control input-sm">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                         </select>
                      </div>

                 
                      <div class="form-group">                      
                          <button type="submit" class="btn btn-default btn-block">Найти</button>
                      </div>
                      
                    </div>
               </div>

       
              </form>
           </div>
        

           <div class="col-md-9">

                <div class="row"> 
                    <div class="col-md-12">
                        <ul class="pager">
                            <li><a href="#">&larr; Предыдущие</a></li>
                            <li><a href="#">Следующие &rarr;</a></li>
                        </ul>  
                    </div>               
                </div>


                <div class="well bs-component">

                    <h4><a>Ноутбук ASUS s301l</a></h4>
                    <hr/>
                    
                    <div class="row">
                        <div class="col-md-3">
                             <img src="product_photo\1.jpg" width="100" height="100" style="margin-top:0px;"/>
                        </div>
                        
                        <div class="col-md-9">
                            <p>Стоимость: 15000</p>
                            <p>Тип: <b>Ноутбук</b>; Бренд: <b>ASUS</b>; Модель: <b>s301l</b>; Процессор: <b>Intel Core i5</b>; Число ядер: <b>4</b>; Размер ОЗУ: <b>8 Гб</b>; Видеокарта: <b>intel HD Graphics 4400</b>; Жесткий диск: <b>6000 Гб</b>; Объем жесткого диска: <b>4.7</b></p>
                        </div>               
                    </div>                    
                </div>
                
                <div class="well bs-component">

                    <h4><a>Ноутбук ASUS s301l</a></h4>
                    <hr/>
                    
                    <div class="row">
                        <div class="col-md-3">
                             <img src="product_photo\1.jpg" width="100" height="100" style="margin-top:0px;"/>
                        </div>
                        
                        <div class="col-md-9">
                            <p>Стоимость: 15000</p>
                            <p>Тип: <b>Ноутбук</b>; Бренд: <b>ASUS</b>; Модель: <b>s301l</b>; Процессор: <b>Intel Core i5</b>; Число ядер: <b>4</b>; Размер ОЗУ: <b>8 Гб</b>; Видеокарта: <b>intel HD Graphics 4400</b>; Жесткий диск: <b>6000 Гб</b>; Объем жесткого диска: <b>4.7</b></p>
                        </div>               
                    </div>                    
                </div>
                
                <div class="well bs-component">

                    <h4><a>Ноутбук ASUS s301l</a></h4>
                    <hr/>
                    
                    <div class="row">
                        <div class="col-md-3">
                             <img src="product_photo\1.jpg" width="100" height="100" style="margin-top:0px;"/>
                        </div>
                        
                        <div class="col-md-9">
                            <p>Стоимость: 15000</p>
                            <p>Тип: <b>Ноутбук</b>; Бренд: <b>ASUS</b>; Модель: <b>s301l</b>; Процессор: <b>Intel Core i5</b>; Число ядер: <b>4</b>; Размер ОЗУ: <b>8 Гб</b>; Видеокарта: <b>intel HD Graphics 4400</b>; Жесткий диск: <b>6000 Гб</b>; Объем жесткого диска: <b>4.7</b></p>
                        </div>               
                    </div>                    
                </div>
           
           </div> 
           
        </div>
    </div>