<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="windows-1251">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Название компании</title>
    
    <link href="static/css/bootstrap.css" rel="stylesheet">
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/style.css" rel="stylesheet">
     
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body style="margin-top: 70px;">

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Название компании</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">О нас</a></li>                
                    <li class="dropdown">
                        <a  href="#" class="dropdown-toggle" data-toggle="dropdown">Личный кабинет <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Профиль</a></li>
                                <li><a href="#">Мои товары</a></li>
                                <li><a href="#">Сообщения</a></li>
                                <li><a href="#">История</a></li>
                            </ul>
                    </li>
                    <li><a href="#">Товары</a></li>
                    <li><a href="#">Рейтинг</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Вход</a></li>
                </ul>
            </div> <!--/.nav-collapse -->
        </div>   
    </nav>
    

    <div class="container">
        <div class="row">
        
            <div class="col-md-4">

                <h3 > Крылов Антон </h3>
                <img src="profile_photo\1.jpg" width="250" height="375" />

                <a href="#" class="btn btn-default">Изменить фотографию</a>
                <a href="#" class="btn btn-default"><span class="glyphicon glyphicon-cog"></span></a>

                <hr/>

                <p><b>Почта: </b> anton@gmail.com</p>
                <p><b>Товаров: </b> 2</p>
                <p><b>Рейтинг: </b> 4.7</p>
                <h3>Тут будут звезды </h3>
                <a href="#" class="btn btn-default" align="right">Товары</a> <a href="#" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span></a>

            </div>

            <div class="col-md-8 ">

                <div class="row">
                    <div class="col-md-7">
                        <h3> Отзывы: </h3>
                    </div>
                    
                    <div class="col-md-5">
                        <ul class="pager" style="float:right">
                            <li><a   style="color: black;" href="#">Предыдущие</a></li>
                            <li><a style="color: black;" href="#">Следующие</a></li>
                        </ul>  
                    </div>               
                </div>


                <div class="well bs-component">
                <fieldset>

                    <legend>Маликов Дамир</legend>
                    <p><b>Оценка: </b> 4.5</p>
                    <p>Уинстон ощутил пустоту в груди. Это — двоемыслие. Им овладело чувство смертельной беспомощности. Если бы он был уверен, что О’Брайен солгал, это не казалось бы таким важным. Но очень может быть, что О’Брайен в самом деле забыл фотографию. А если так, то он уже забыл и то, как отрицал, что ее помнит, и что это забыл — тоже забыл. Можно ли быть уверенным, что это просто фокусы? А вдруг такой безумный вывих в мозгах на самом деле происходит? — вот что приводило Уинстона в отчаяние.</p>
                    <p align="right">26 октября 2016</p>

                </fieldset> 
                </div>
                
                <div class="well bs-component">
                <fieldset>

                    <legend>Маликов Дамир</legend>
                    <p><b>Оценка: </b> 4.5</p>
                    <p>Уинстон ощутил пустоту в груди. Это — двоемыслие. Им овладело чувство смертельной беспомощности. Если бы он был уверен, что О’Брайен солгал, это не казалось бы таким важным. Но очень может быть, что О’Брайен в самом деле забыл фотографию. А если так, то он уже забыл и то, как отрицал, что ее помнит, и что это забыл — тоже забыл. Можно ли быть уверенным, что это просто фокусы? А вдруг такой безумный вывих в мозгах на самом деле происходит? — вот что приводило Уинстона в отчаяние.</p>
                    <p align="right">26 октября 2016</p>

                </fieldset> 
                </div>
                      
            </div>
            
        </div>
    </div>
    
    
    <div class="container">
    <div class="footer">
        <hr/>
        <p align="right">&copy; 2016 Название компании</p>
    </div>
    </div>
    
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>