<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="windows-1251">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <title>Название компании</title>
        
        <link href="static/css/bootstrap.css" rel="stylesheet">
        <link href="static/css/bootstrap.min.css" rel="stylesheet">
        <link href="static/css/style.css" rel="stylesheet">
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>   
    </head>
    <body style="margin-top: 70px;">

        <!-- menu -->
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Название компании</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">О нас</a></li>                  
                        <li class="dropdown">
                            <a  href="#" class="dropdown-toggle" data-toggle="dropdown">Личный кабинет <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Профиль</a></li>
                                    <li><a href="#">Мои товары</a></li>
                                    <li><a href="#">Сообщения</a></li>
                                    <li><a href="#">История</a></li>
                                </ul>
                        </li>
                        <li><a href="#">Товары</a></li>
                        <li><a href="#">Рейтинг</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">Вход</a></li>
                    </ul>
                </div> 
            </div>   
        </nav>
    
        <!-- registration -->
        <div class="container">
        <div class="row">
        <div class="col-md-6 col-md-offset-3">
        <div class="well bs-component">
            <form class="form-horizontal">
            <fieldset>
                <legend>Регистрация</legend>
                <div class="form-group">
                    <label for="inputLogin" class="col-md-2 control-label">Логин</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="inputLogin" placeholder="Логин">
                    </div>
                </div>
                   
                <div class="form-group">                       
                    <label for="inputPasswod" class="col-md-2 control-label">Пароль</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="inputPasswod" placeholder="Пароль">
                        <input type="text" class="form-control" placeholder="Повторите пароль">
                    </div>
                </div>
                
                <div class="form-group">                       
                    <label for="inputName" class="col-md-2 control-label">Имя</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="inputName" placeholder="Имя">
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="inputEmail" class="col-md-2 control-label">Почта</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="inputEmail" placeholder="Почта">
                    </div>
                </div>
                <hr/>
                <div class="form-group">
                    <div class="col-md-6 col-md-offset-2">            
                        <button type="submit" class="btn btn-default">Зарегестрироваться</button>
                    </div>
                </div>     
            </fieldset>
            </form>
        </div>
        </div>
        </div>
        </div>
        

        <!-- footer -->
        <div class="container">
        <div class="footer">
            <hr/>
            <p align="right">&copy; 2016 Название компании</p>
        </div>
        </div>
        
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="js/bootstrap.min.js"></script>
  </body>