    <div class="container">
        <div class="row">  
           <div class="col-md-8 col-md-offset-2">

                <div class="row"> 
                    <div class="col-md-12">
                        <ul class="pager">
                            <li><a href="#">&larr; Предыдущие</a></li>
                            <li><a href="#">Следующие &rarr;</a></li>
                        </ul>  
                    </div>               
                </div>


                <div class="well bs-component">
                
                    <h4><a href="product.html">Ноутбук ASUS s301l</a></h4>                 
                    <hr/>
                    
                    <div class="row">
                    
                        <div class="col-md-4">
                             <img src="product_photo\1.jpg" width="100%" style="margin-top:0px;"/>
                        </div>
                        
                        <div class="col-md-8">
                    
                        <div class="row">
                            <div class="col-md-6" style="float: left;">
                                <p><b>Стоимость:</b> 15000</p>
                                <p><b>Тип: </b> ноутбук</p>
                                <p><b>Бренд: </b> ASUS</p>
                                <p><b>Модель: </b> s301l</p>
                                <p><b>Процессор: </b>  Intel Core i5</p>
                            </div>               
                            <div class="col-md-6" style="float:right;">
                                 <p><b>Число ядер: </b> 4<p>
                                <p><b>Размер ОЗУ: </b> 8 Гб</p>
                                <p><b>Видеокарта: </b> intel HD Graphics 4400</p>
                                <p><b>Жесткий диск: </b> 6000 Гб</p>
                                <p><b>Объем жесткого диска: </b> 4.7</p>
                            </div>               
                        </div> 
                        
                        </div>             
                    </div>                    
                </div>
                
                <div class="well bs-component">

                    <h4><a href="product.html">Ноутбук ASUS s301l</a></h4>
                    <hr/>
                    
                    <div class="row">
                    
                        <div class="col-md-4">
                             <img src="product_photo\1.jpg" width="100%" style="margin-top:0px;"/>
                        </div>
                        
                        <div class="col-md-8">
                    
                        <div class="row">
                            <div class="col-md-6">
                                <p><b>Стоимость:</b> 15000</p>
                                <p><b>Тип: </b> ноутбук</p>
                                <p><b>Бренд: </b> ASUS</p>
                                <p><b>Модель: </b> s301l</p>
                                <p><b>Процессор: </b>  Intel Core i5</p>
                            </div>               
                            <div class="col-md-6" style="float:right;">
                                 <p><b>Число ядер: </b> 4<p>
                                <p><b>Размер ОЗУ: </b> 8 Гб</p>
                                <p><b>Видеокарта: </b> intel HD Graphics 4400</p>
                                <p><b>Жесткий диск: </b> 6000 Гб</p>
                                <p><b>Объем жесткого диска: </b> 4.7</p>
                            </div>               
                        </div> 
                        
                        </div>             
                    </div>                    
                </div>
                
                <div class="well bs-component">

                    <h4><a href="product.html">Ноутбук ASUS s301l</a></h4>
                    <hr/>
                    
                    <div class="row">
                    
                        <div class="col-md-4">
                             <img src="product_photo\1.jpg" width="100%" style="margin-top:0px;"/>
                        </div>
                        
                        <div class="col-md-8">
                    
                        <div class="row">
                            <div class="col-md-6">
                                <p><b>Стоимость:</b> 15000</p>
                                <p><b>Тип: </b> ноутбук</p>
                                <p><b>Бренд: </b> ASUS</p>
                                <p><b>Модель: </b> s301l</p>
                                <p><b>Процессор: </b>  Intel Core i5</p>
                            </div>               
                            <div class="col-md-6" style="float:right;">
                                 <p><b>Число ядер: </b> 4<p>
                                <p><b>Размер ОЗУ: </b> 8 Гб</p>
                                <p><b>Видеокарта: </b> intel HD Graphics 4400</p>
                                <p><b>Жесткий диск: </b> 6000 Гб</p>
                                <p><b>Объем жесткого диска: </b> 4.7</p>
                            </div>               
                        </div> 
                        
                        </div>             
                    </div>                    
                </div>
                
    
           </div> 
           
        </div>
    </div>